{% extends "metro-base.html" %}

{% block title %}主页{% endblock %}

{% block head %}主页{% endblock %}

{% block content %}


      

      <div class="tile-area tile-area-glass">
        


        <div class="tile-group four" style="margin-top:-10%">
            <a href="/mmusic" class="tile double double-vertical bg-darkRed" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-book"></span>
                </div>
                <div class="brand">
                    <div class="label"><h2>Words</h2></div>
                </div>
            </a>

            <a href="/mmusic" class="tile double double-vertical bg-darkOrange" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-headphones"></span>
                </div>
                <div class="brand">
                    <div class="label"><h2>Music</h2></div>
                </div>
            </a>

            <a href="/mmusic" class="tile double double-vertical bg-green" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-twitter"></span>
                </div>
                <div class="brand">
                    <div class="label"><h2>Relationship</h2></div>
                </div>
            </a>

            <a href="/mmusic" class="tile double double-vertical bg-darkPink" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-pictures"></span>
                </div>
                <div class="brand">
                    <div class="label"><h2>Picture</h2></div>
                </div>
            </a>
            
        </div>
</div>
{% endblock %}